*,
html {
  font-family: "Nunito Sans", sans-serif;
  padding: 0;
  margin: 0;
  transition: 0.2s ease-in-out;
}

body {
  background-image: linear-gradient(135deg, red 5%, orange, yellow);
}

/* Logo */
h1 {
  color: lightgray;
  font-size: 3rem;
  margin-top: 3rem;
  text-align: center;
}

h1 span img {
  margin-bottom: -0.6rem;
  width: 4rem;
}

/* Form and Notes */
.content {
  margin: 0.5rem auto;
  max-width: 90%;
  padding: 0.5rem;
}

/* Form */
form {
  border-radius: 10px 10px 10px 10px;
  background-color: #fff;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 0.6rem;
}

form input,
button {
  display: block;
  width: 100%;
  font-size: 1rem;
  margin-top: 0.3rem;
  padding: 0.3rem;
}

form input {
  border: 0;
  border-bottom: 1px solid #eee;
  /* background-color: inherit; */
}

form input:focus {
  outline: none;
  border-bottom: 2px solid orange;
  padding-bottom: 0.5rem;
  transition: all ease 0.2s;
}
/* 
::placeholder {
  color: #fff;
  font-weight: 300;
} */

/* Submit Button */
button {
  border: 0;
  background: inherit;
  border-radius: 5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #999;
  font-weight: 700;
  font-family: inherit;
}

button:focus {
  outline: none;
  background: lightgray;
  color: white;
}

/* Notes */
ul {
  list-style-type: none;
  padding: 0;
  margin-top: 2rem;
}

li {
  padding: 1.2rem;
  background: #f6f6f6;
  font-size: 1rem;
  color: #555;
  position: relative;
  border-bottom: 0.5rem solid lightgray;
}

li:nth-child(even) {
  background: #e6e6e6;
}

li span {
  display: block;
}

li span:nth-child(2) {
  color: #999;
}

li div {
  position: absolute;
  width: 40px;
  text-align: center;
  padding: 10px 0;
  font-weight: 700;
  cursor: pointer;
  color: white;
}

li div.cross {
  top: 0;
  right: 0px;
  background-color: orangered;
}

li div.plus {
  bottom: 0;
  right: 0px;
  background-color: #6883ac;
}

@media (min-width: 900px) {
  .content {
    width: 70%;
  }
}
